<main>
    <h1 class="text-center text-primary m-5">PRODUCTOS EN VIVO</h1>
    <section class="m-5">
        <div class="d-flex justify-content-center">
            <table class="table table-striped table-bordered">
                <thead class="bg-primary text-white">
                    <tr>
                        <th scope="col">Producto</th>
                        <th scope="col">Título</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Thumbnails</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Categoría</th>
                        <th scope="col">Estado</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each products}}
                    <tr>
                        <td>{{this.code}}</td>
                        <td>{{this.title}}</td>
                        <td>{{this.description}}</td>
                        <td>{{this.price}}</td>
                        <td>{{this.thumbnails}}</td>
                        <td>{{this.stock}}</td>
                        <td>{{this.category}}</td>
                        <td>{{this.status}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </section>
    <section style="display: flex; justify-content: center" class="mt-5">
        <button class="btn btn-danger" id="logoutBtn">Salir</button>
    </section>

</main>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/products.js"></script>
